[Unit]
Description=Rotate mihomo PROXY selection every 30 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=30min
Persistent=true
Unit=rr-rotate.service

[Install]
WantedBy=timers.target
